.uploadAreaImg {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.addProductName input,
.addProductPrice input,
.addProductCategory select,
.addProductInStock select,
.addProductTags input {
  width: 100%;
}
